.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
body{
  background-image: url('../image/34.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}